[Unit]
Description=isucon12 qualify webapp
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Environment=MYSQL_HOST="localhost"
Environment=MYSQL_PORT=3306
Environment=MYSQL_USER=isucon
Environment=MYSQL_DBNAME=isuports
Environment=MYSQL_PASS=isucon
Type=simple
User=isucon
Group=isucon
WorkingDirectory=/home/isucon/webapp
ExecStart=/home/isucon/webapp/go/isuports
Restart=always
