[Unit]
Description=isucon12 qualify webapp
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Environment=ISUCON_DB_HOST="192.168.0.13"
Environment=ISUCON_DB_PORT=3306
Environment=ISUCON_DB_USER=isucon
Environment=ISUCON_DB_NAME=isuports
Environment=ISUCON_DB_PASSWORD=isucon
Type=simple
User=isucon
Group=isucon
WorkingDirectory=/home/isucon/webapp/go
ExecStart=/home/isucon/webapp/go/isuports
Restart=always
